tbody {
    display:block;
    max-height:500px;
    overflow-y:auto;
}

thead, tbody tr {
    display:table;
    width: 100%;
    table-layout:fixed;
}

.summary-select {
	width: 300px;
	/*margin-left: 66px;*/
}

#txt-delete {
    color: red;
}

.display-no-data {
	text-align: center;
}