.text-shadow {
	font-size: 14px;
	text-align: center;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	width: 70px;
	height: 70px;
}
 .flip > .front, .flip > .back {
	 display: block;
	 transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	 transition-duration: 0.8s;
	 transition-property: transform, opacity;
}
 .flip > .front {
	 transform: rotateY(0deg);
}
 .flip > .back {
	 position: absolute;
	 opacity: 0;
	 top: 0px;
	 left: 0px;
	 width: 100%;
	 height: 100%;
	 transform: rotateY(-180deg);
}
 .flip:hover > .front {
	 transform: rotateY(180deg);
}
 .flip:hover > .back {
	 opacity: 1;
	 transform: rotateY(0deg);
}
 .flip.flip-vertical > .back {
	 transform: rotateX(-180deg);
}
 .flip.flip-vertical:hover > .front {
	 transform: rotateX(180deg);
}
 .flip.flip-vertical:hover > .back {
	 transform: rotateX(0deg);
}
 .flip {
	 position: relative;
	 display: inline-block;
	 width: 266px;
	 height: 200px;
	 margin-left: 10px;
	 border-radius: 10px;
	 margin-bottom: 10px;
}
 .flip > .front, .flip > .back {
	 display: block;
	 color: white;
	 width: inherit;
	 background-size: cover !important;
	 background-position: center !important;
	 width: 266px;
	 height: 200px;
	 padding: 1em 2em;
	 border-radius: 10px;
}
 .flip > .front p, .flip > .back p {
	 font-size: 0.9125rem;
	 line-height: 160%;
	 color: white;
}