/* #breadcrumb {
    margin-left: 60px;
} */
a {
    height: 17px;
}
a, img {
    /* width: 78px; */
    /* height: 1px; */
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    float: left;
}
img {
    width: 10px;
    margin-top: 5px;
}