@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.footer {
  /* position: fixed;
  bottom: 0;
  width: 100%; */
  padding: 20px 20px;
  background-color: #F3F4F5;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}
/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}