<div class="form-inline">
    <p id="welcome">Hi , Welcome to Storepedia System</p>
    <button type="submit" id="btn-show">Tampilkan <span>Bulan Ini</span></button>
    <button type="submit" id="btn-create">Buat Baru</button>
</div>
<br><br>
<div id="div-one" class="form-inline">
    <div class="row">
        <div class="col-sm-6">
            <p id="txt-card">Arus Kas</p>
            <div class="card text-center">
                <div class="card-body">
                    <br>
                    <span class="ci-cash-1">
                        <span class="ci-cash-2">
                            <img class="img-cash" src="../../../assets/img/dashboard/icon-dashboard-1.png" alt="Icon1">
                        </span>
                    </span>
                    <br><br>
                    <p>
                        <span id="txt-cash-rp">Rp </span>
                        <span class="txt-cash-nominal">0</span>
                    </p>
                    <p id="txt-cash-bank">Kas & Bank</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <p id="txt-card">Faktur</p>
            <div class="card">
                <div class="card-header" style="height: 110px; background-color: #fff;">
                    <div class="container">
                        <br>
                        <div class="row">
                            <div class="media-icon">
                                <span class="ci-inv-1">
                                    <img class="img-inv" src="../../../assets/img/dashboard/icon-dashboard-5.png" alt="Icon1">
                                </span>
                            </div>
                            <div class="media-body">
                                <h6>Penjualan</h6>
                                <span>0 Pelanggan</span>
                            </div>
                            <div class="media-body">
                                <p id="inv">
                                    <span id="txt-cash-rp">Rp </span> 0
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <br>
                    <div class="row">
                        <div class="media-body">
                            <p id="inv-cust">Faktur Penjualan Jatuh Tempo</p>
                        </div>
                        <div class="media-body">
                            <p id="inv-cust" class="inv-cust-etc">0 Faktur</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="media-body">
                            <p id="inv-cust">Faktur Penjualan yang Belum Terbayar</p>
                        </div>
                        <div class="media-body">
                            <p id="inv-cust" class="inv-cust-etc">0 Faktur</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br>
<div id="div-two" class="form-inline">
    <div class="row">
        <div class="col-sm-6">
            <p id="txt-card">Laba Rugi</p>
            <div class="card-group">
                <div class="card text-center">
                    <div class="card-body">
                        <br>
                        <p id="txt-loss">Bisnis Anda <span>Tampak Baik</span></p>
                        <br>
                        <span class="ci-loss-1">
                            <span class="ci-loss-2">
                                <img class="img-cash" src="../../../assets/img/dashboard/icon-dashboard-2.png" alt="Icon1">
                            </span>
                        </span>
                        <br><br>
                        <p>
                            <span id="txt-cash-rp">Rp </span>
                            <span class="txt-cash-nominal">0</span>
                        </p>
                        <p id="txt-loss-prof">Laba / Rugi</p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header" style="background-color: #fff; height: 160px;">
                        <br>
                        <span class="ci-loss2-1">
                            <span class="ci-loss2-2">
                                <img class="img-loss2" src="../../../assets/img/dashboard/icon-dashboard-3.png" alt="Icon1">
                            </span>
                        </span>
                        <br>
                        <p>
                            <span id="txt-cash-rp">Rp </span>
                            <span class="txt-loss-nominal">0</span>
                        </p>
                        <p id="txt-loss-spen">Pengeluaran</p>
                    </div>
                    <div class="card-body">
                        <span class="ci-loss3-1">
                            <span class="ci-loss3-2">
                                <img class="img-loss2" src="../../../assets/img/dashboard/icon-dashboard-4.png" alt="Icon1">
                            </span>
                        </span>
                        <br>
                        <p>
                            <span id="txt-cash-rp">Rp </span>
                            <span class="txt-loss-nominal">0</span>
                        </p>
                        <p id="txt-loss-rec">Penerimaan</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header" style="height: 110px; background-color: #fff;">
                    <div class="container">
                        <br>
                        <div class="row">
                            <div class="media-icon">
                                <span class="ci-cust-1">
                                    <img class="img-inv" src="../../../assets/img/dashboard/icon-dashboard-6.png" alt="Icon1">
                                </span>
                            </div>
                            <div class="media-body">
                                <h6>Pembelian</h6>
                                <span>0 Pelanggan</span>
                            </div>
                            <div class="media-body">
                                <p id="inv">
                                    <span id="txt-cash-rp">Rp </span> 0
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <br>
                    <div class="row">
                        <div class="media-body">
                            <p id="inv-cust">Faktur Penjualan Jatuh Tempo</p>
                        </div>
                        <div class="media-body">
                            <p id="inv-cust" class="inv-cust-etc">0 Faktur</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="media-body">
                            <p id="inv-cust">Faktur Penjualan yang Belum Terbayar</p>
                        </div>
                        <div class="media-body">
                            <p id="inv-cust" class="inv-cust-etc">0 Faktur</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>